@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

@theme {
  --color-cream: #f7e1d7;
  --color-greygreen: #dedbd2;
  --color-moss: #b0c4b1;
  --color-rose: #edafb8;
  --color-forest: #4a5759;
}

.react-calendar__tile.highlight {
  background-color: #4a5759;
  color: white;
  border-radius: 20px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
}

.react-calendar__navigation {
  display: flex;
}

.react-calendar__navigation__arrow {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

.react-calendar__navigation__label {
  flex-grow: 2;
  text-align: center;
  font-weight: 700;
}

.react-calendar__navigation__arrow .react-calendar__navigation__prev2-button {
  flex-grow: 2;
}

abbr {
  text-decoration: none;
}

body {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #383838;
}

strong,
h2 {
  font-weight: 700;
  text-transform: uppercase;
}
