@import "tailwindcss";

.react-calendar__tile.highlight {
  background-color: #a3e635;
  color: white;
  border-radius: 20px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
}

.react-calendar__navigation {
  display: flex;
}

.react-calendar__navigation__arrow {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

.react-calendar__navigation__label {
  flex-grow: 2;
  text-align: center;
}

.react-calendar__navigation__arrow .react-calendar__navigation__prev2-button {
  flex-grow: 2;
}

abbr {
  text-decoration: none;
}
